<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">

      <!-- タイトル -->
      <h2 class="prototype__heading"><%= @prototype.title %></h2>

      <!-- 投稿者の名前 -->
      <p class="prototype__user">
        by <%= link_to @prototype.user.name, user_path(@prototype.user), class: "prototype__user-link" %>
      </p>

      <!-- 投稿者本人なら編集・削除ボタンを表示 -->
      <% if user_signed_in? && current_user.id == @prototype.user.id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_prototype_path(@prototype), class: "prototype__btn" %>
          <%= link_to "削除する", prototype_path(@prototype), data: { turbo_method: :delete }, class: "prototype__btn--delete" %>
        </div>
      <% end %>

      <!-- 投稿画像 -->
      <div class="prototype__image">
        <% if @prototype.image.attached? %>
          <%= image_tag @prototype.image, class: "prototype__img" %>
        <% else %>
          <p>画像が投稿されていません</p>
        <% end %>
      </div>

      <!-- キャッチコピーとコンセプト -->
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message"><%= @prototype.catch_copy %></p>
        </div>

        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message"><%= @prototype.concept %></p>
        </div>
      </div>

      <!-- コメントフォーム -->
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@prototype, @comment], local: true do |f| %>
            <div class="field">
              <%= f.text_area :content, id: "comment_content", placeholder: "コメントを入力してください", class: "comment__field" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: "comment__btn" %>
            </div>
          <% end %>
        <% else %>
          <p>※ コメントを投稿するにはログインしてください。</p>
        <% end %>

        <!-- コメント一覧 -->
        <ul class="comments_lists">
          <% @prototype.comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <span class="comment__user">
                by <%= link_to comment.user.name, user_path(comment.user), class: "comment_user-link" %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</main>